[tool.poetry]
name = "logbesselk"
version = "0.8.3"
description = ""
authors = ["TAKEKAWA Takashi <takekawa@tk2lab.org>"]

[tool.poetry.dependencies]
python = "^3.8"
tensorflow = "^2.5"

[tool.poetry.dev-dependencies]
tensorflow-probability = "^0.13"
pandas = "^1.3"
pytest = "^5.2"
matplotlib = "^3.4.3"
seaborn = "^0.11.2"
tqdm = "^4.62.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
