[tool.poetry]
name = "logbesselk"
version = "2.3.0"
description = "Provide function to calculate the modified Bessel function of the second kind"
license = "Apache-2.0"
authors = ["TAKEKAWA Takashi <takekawa@tk2lab.org>"]
readme = "README.md"
repository = "https://github.com/tk2lab/logbesselk"

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
tensorflow = "^2.6"

[tool.pytest.ini_options]
filterwarnings = [
  "ignore:the imp module is deprecated:DeprecationWarning",
  "ignore:.*will be removed in Pillow 10:DeprecationWarning",
]

[tool.isort]
profile = "black"

[tool.black]
line-length = 79

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
