[tool.poetry]
name = "logbesselk"
version = "3.0.0-alpha0"
description = "Provide function to calculate the modified Bessel function of the second kind"
license = "Apache-2.0"
authors = ["TAKEKAWA Takashi <takekawa@tk2lab.org>"]
readme = "README.md"
repository = "https://github.com/tk2lab/logbesselk"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
#tensorflow = ">=2.6,<2.12"
#jax = "^0.2+cuda"

[tool.isort]
profile = "black"

[tool.black]
line-length = 79

[tool.pytest.ini_options]
filterwarnings = [
  #"ignore:.*:DeprecationWarning",
  #"ignore:overflow:RuntimeWarning",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
